// Variables
$primary-color: #385DA6;
$second-color: #35D0F2;
$thir-color: #64BF4B;
$fourth-color: #7DBF4E;
$fifth-color: #F29441;


body {
  position: relative;
  background-color: #000 !important;
  font-size: 16px;
}

.bold {
  position: relative;
  font-weight: bold;
}

.uppercase {
  position: relative;
  text-transform: uppercase;
}

.no-decoration {
  position: relative;
  text-decoration: none !important;
}

.no-resize {
  position: relative;
  resize: none;
}


#hero {
  position: relative;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-color: $primary-color;
  padding-top: 120px;
  padding-bottom: 120px;

  h1 {
    color: $fourth-color;
    position: relative;
    font-weight: bold;
    font-size: 64px;
  }

  h3 {
    position: relative;
    color: #FFF;
    font-size: 40px;
  }

  .badge {
    position: relative;
    background-color: $thir-color;
    padding: 10px;
    margin-top: 15px;
    font-size: 18px;
  }
}

#modules {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;

  .blend {
    position: relative;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  .panel-default {
    position: relative;
    background-color: transparent;
    border: none;
  }

  .module-card {
    position: relative;
    border: 1px solid #000;
    background-color: transparent;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 280px;
    height: 420px;
  
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    .rocket {
      color: #FFF;
      border: 1px solid #FFF !important;
      background-color: transparent;
      border-radius: 50px;
      font-size: 16px;
      padding: 10px;
    }
  }
}

#newsletter {
  position: relative;
  border: 1px solid #EEE;
  background-color: #EEE;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer {
  position: relative;
  background-color: #385DA6;
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;

  a {
    position: relative;
    color: #FFF;
  }

  .social {
    position: relative;
    
    li {
      position: inherit;
      margin-right: 10px;
    }

    a {
      position: relative;
      color: white !important;
    }

    i {
      position: relative;
      border-radius: 20px;
      border: 1px solid #03235f;
      background-color: #03235f;
      padding: 10px;
    }
  }
}